div.navLinkContainer
  div.navLink
    a.white(ui-sref="simpleFS.upload") Upload
  div.navLink
    a.white(ui-sref="simpleFS.newDir") New Directory
  div.navLink
    a.white(ui-sref="simpleFS.docs") API Documents