div.navLinkContainer
  div.navLink
    a.white(ui-sref="simpleFS.uploadDeep({directory:'#{dir}'})") Upload
  div.navLink
    a.linkDisable New Directory
  div.navLink
    a.white(ui-sref="simpleFS.docs") API Documents