h2= dir
form(ng-controller='UploadDeepController', ng-init="init('#{dir}')")
  input(type='file', nv-file-select, uploader='uploader')
  ul
    li(ng-repeat="item in uploader.queue")
      span(ng-bind="item.file.name")
      button(ng-click="item.upload()") upload