!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Golden Frog UI Code Test
    link(rel='stylesheet', href='/css/appComp.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto')
  body
    block body