div.secondaryNav(ui-view='simpleFS@seconNav')
  div.navLinkContainer
    div.navLink
      a.white Internal Link 1
    div.navLink
      a.white Internal Link 2
    div.navLink
      a.white Internal Link 3